@model List<ASM.Models.Genre>
@{
    ViewData["Title"] = "Genre";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section>
    <a asp-controller="AdminHome" asp-action="GenreAdd">Add new Genre</a>
    
    <table id="myTable" class="display">
        <thead>
            <tr>
                <td style="width:10%;">Genre Id</td>
                <td style="width:60%;">Genre Name</td>
                <td style="width:18%;"> Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td style="width:10%;">@item.GenreId</td>
                    <td style="width:60%;">@item.GenreName</td>
                    <td style="width:18%;">
                        <a asp-controller="AdminHome" asp-action="GenreEdit" asp-route-id="@item.GenreId">Edit</a> ||
                        <a asp-controller="AdminHome" asp-action="GenreDelete" asp-route-id="@item.GenreId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>


